region = "id-cgx"
instance_type = "g3-gpu-rtxpro6000-blackwell-1"
project_name = "vllm-speculative-demo"
allowed_ip_cidr = "<your_IP_address>/32"
ssh_public_key_path = "~/.ssh/id_ed25519.pub"
repo_url = "https://github.com/akamai-developers/speculative-decoding-example-vllm-blackwell.git"